<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Airline</th>
                    <th>Airport</th>
                    <th>Flight No.</th>
                    <th>Depart time</th>
                </tr>
            </thead>
            <tbody>
                <% flights.forEach(e => { %>
                    <tr>
                        <td><%= e.airline %></td>
                        <td><%= e.airport %></td>
                        <td><%= e.flightNo %></td>
                        <td><%= e.departs %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        
    </main>
</body>
</html>